<div class="row g-0 py-4">
    <div class="social-logo-container col-12 pb-3">
        <a href="https://www.facebook.com/YourPage" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <i class="fab fa-facebook-f social-logo"></i>
        </a>
        <a href="https://www.youtube.com/YourChannel" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
            <i class="fab fa-youtube social-logo"></i>
        </a>
        <a href="https://www.instagram.com/YourProfile" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <i class="fab fa-instagram social-logo"></i>
        </a>
        <a href="https://soundcloud.com/YourProfile" target="_blank" rel="noopener noreferrer" aria-label="SoundCloud">
            <i class="fab fa-soundcloud social-logo"></i>
        </a>
    </div>
    <a class="navbar-brand col-12" href="#home">Nick Lennon Drums</a>
    <p class="m-0 col-12">Copyright @ 2024 Nick Lennon Drums</p>
</div>