.hero {
    background: url('../images/hero-image.jpg') no-repeat center top;
    background-size: cover;

    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: white;
    padding: 20px; 
}
.hero-banner {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}
.hero h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.about-image {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.about-text {
    max-width: 510px;
    margin-top: 20px;
    width: 100%;
    background: rgba(256, 256, 256, 0.8);
    border-radius: 10px;
}
#about, #services {
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 100px;
    min-height: calc(100svh - 120px);
}
#about {
    position: relative;
}
.drum-background-image {
    width: 300px;
    transform: rotate(-16deg);
    position: absolute;
    right: 15%;
    bottom: -40px;
    z-index: -1;
}
#contact {
    background: url('../images/drum-kit-black-and-white.jpg') no-repeat center top;
    background-size: cover;
    padding: 20px;
    min-height: calc(100svh - (60px + 112px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
#contact .contact-form-container {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
#contact .form-group {
    width: 100%;
}
#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact .contact-form-button {
    width: 150px;
    color: #fff;
    border-radius: 0;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0);
}
#contact .contact-form-button:hover {
    color: #000;
    border: 3px solid transparent;
    background-color: #fff;
}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: all 0.4s ease;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
/* Services Section */
.service-detail-display {
    padding: 20px 0;
    opacity: 0;
    transition: all 0.4s ease;
    position: relative;
}
.service-detail-display button {
    position: absolute;
    bottom: -30px;
    left: 50%;

}
@media screen and (min-width: 992px) {
    .hero .hero-banner {
        padding-left: 20%;
        text-align: left;
    }
}